.home {	
	.masthead {
		// background: url('/assets/images/masthead.jpg');
		background: #000;
		background-size: cover;
		background-position: center center;

		height: 100vh;
		position:relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		&:before {
			background: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content:"";
		}

		h1 {
			position: relative;
			z-index: 10;
			margin: 0;
			color: #ffffff;
			text-align: center;
			font-size: 3em;
			line-height: 1.0;
			font-weight: 200;
			max-width: $content-width;
		}

		video {
			position: absolute;
			width: 100%;
			@include opacity(.2);

			position: absolute;
			width: 100%;
		}

		@include media-query($on-palm) {
			height: 50vh;
			h1 {
				font-size: 2em;
			}
		}
	}
	.home-nav {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		display: none;
		li {
			box-sizing: border-box;
			display: flex;
			flex-basis: 50%;
			align-items: center;
			justify-content: center;
			background: url('/assets/images/ezoo2013-blue.jpg');
			background-size: cover;
			background-position: center top;
			overflow: hidden;

			a {
					background: hsla(40,50%,60%,0.8);
				height: calc(30vh - 50px);
				display: flex;
				flex-basis: 100%;
				align-items: center;
				justify-content: center;

				color: #FFFFFF;
				text-align: center;

				transition: all 250ms ease-out;

				&:hover {
					transform: scale(1.2);
					text-decoration: none;
				}
			}
			&:first-of-type {
				background: url('/assets/images/masthead.jpg');
				a {
					background: rgba(0, 125, 198,.8);
				}
			}

		}
		&:after {
			display: block;
			content: "";
			clear: both;
		}
		@include media-query($on-palm) {
			li {
				a {
					height: calc(50vh - 50px);
				}
			}
		}
	}
}
