
.masthead {
	background: url('/assets/images/masthead.jpg');
	background-size: cover;
	background-position: center center;
	height: calc(62vh - 50px);
	position:relative;

	&:before {
		background: rgba(0,0,0,0.2);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		content:"";
	}

	h1 {
		position: relative;
		z-index: 10;
		margin: 0;
		color: #ffffff;
		text-align: center;
		font-size: 3em;
		font-weight: 200;

		display: flex;
		flex-direction: column;
	}
}
.home-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	li {
		box-sizing: border-box;
		display: flex;
		flex-basis: 50%;
		align-items: center;
		justify-content: center;
		background: url('/assets/images/ezoo2013-blue.jpg');
		background-position: center bottom;
		background-size: cover;
		overflow: hidden;

		&:first-of-type {
			border-left: 0;
			background-position: center top;
		}
		a {
			background: rgba(0, 125, 198,.5);
			background: rgba(0, 0, 0,.5);
			height: calc(38vh - 50px);
			display: flex;
			flex-basis: 100%;
			align-items: center;
			justify-content: center;

			color: #FFFFFF;
			text-align: center;

			transition: all 250ms ease-out;

			&:hover {
				transform: scale(1.2);
				text-decoration: none;
			}
		}
	}
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}